<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Travel Craft 1</a>

  <!-- Otros elementos del navbar (como los enlaces de navegación) -->

  <!-- Botón de traducción a la derecha -->
  <div class="ml-auto">
    <select id="language-select" (change)="changeLanguage($event)" class="form-control form-control-sm">
      <option value="es">Español</option>
      <option value="en">English</option>
     
      <!-- Añadir más idiomas aquí -->
    </select>
  </div>
</nav>

<app-weather></app-weather>
