
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .ml-auto {
    margin-left: auto;
  }
  
  #language-select {
    width: auto;
  }
 
  body {
    background-image: url('assets/custom-icons/background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  